---
http_interactions:
- request:
    method: get
    uri: http://iheartquotes.com/api/v1/random?format=json&source=simpsons_homer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"50e4925f21434704b52f82b716001c78"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"json_class":"Fortune","tags":["simpsons_homer"],"quote":"Marge: I would love you if you weighed 1,000 pounds but ...","link":"http://iheartquotes.com/fortune/show/5682","source":"simpsons_homer"}'
  recorded_at: Sat, 21 Feb 2015 03:11:17 GMT
recorded_with: VCR 2.9.3
