---
http_interactions:
- request:
    method: get
    uri: http://iheartquotes.com/api/v1/random?format=json&source=starwars
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e385abda7959a63f3705f95ab9caf46d"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"json_class":"Fortune","tags":["starwars"],"quote":"Emperor Palpatine Strike me down with all of your hatred and your journey towards the dark side will be complete!","link":"http://iheartquotes.com/fortune/show/1308","source":"starwars"}'
  recorded_at: Sat, 21 Feb 2015 03:12:35 GMT
recorded_with: VCR 2.9.3
