---
http_interactions:
- request:
    method: get
    uri: http://api.zippopotam.us/us/43204
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Charset:
      - UTF-8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"post code": "43204", "country": "United States", "country abbreviation":
        "US", "places": [{"place name": "Columbus", "longitude": "-83.078", "state":
        "Ohio", "state abbreviation": "OH", "latitude": "39.9523"}]}'
  recorded_at: Sun, 22 Feb 2015 01:41:52 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?q=Columbus,%20OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"coord":{"lon":-83,"lat":39.96},"sys":{"message":0.0235,"country":"United States of America","sunrise":1424607278,"sunset":1424646972},"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10n"}],"base":"cmc stations","main":{"temp":277.284,"temp_min":277.284,"temp_max":277.284,"pressure":996.01,"sea_level":1029.3,"grnd_level":996.01,"humidity":99},"wind":{"speed":1.66,"deg":140.001},"clouds":{"all":92},"rain":{"3h":2},"dt":1424569257,"id":4509177,"name":"Columbus","cod":200}
  recorded_at: Sun, 22 Feb 2015 01:41:52 GMT
recorded_with: VCR 2.9.3
