---
http_interactions:
- request:
    method: get
    uri: http://api.zippopotam.us/us/90210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Charset:
      - UTF-8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"post code": "90210", "country": "United States", "country abbreviation":
        "US", "places": [{"place name": "Beverly Hills", "longitude": "-118.4065",
        "state": "California", "state abbreviation": "CA", "latitude": "34.0901"}]}'
  recorded_at: Sun, 22 Feb 2015 01:42:27 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?q=Beverly%20Hills,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"coord":{"lon":-118.4,"lat":34.07},"sys":{"message":0.0043,"country":"United States of America","sunrise":1424615395,"sunset":1424655844},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],"base":"cmc stations","main":{"temp":284.384,"temp_min":284.384,"temp_max":284.384,"pressure":954.59,"sea_level":1024.84,"grnd_level":954.59,"humidity":86},"wind":{"speed":1.11,"deg":193.001},"clouds":{"all":56},"dt":1424568754,"id":5328041,"name":"Beverly Hills","cod":200}
  recorded_at: Sun, 22 Feb 2015 01:42:27 GMT
recorded_with: VCR 2.9.3
