---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":{"type":"gif","id":"10BhvFXneBD6X6","url":"http:\/\/giphy.com\/gifs\/xavi-hernndez-10BhvFXneBD6X6","image_original_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10BhvFXneBD6X6\/giphy.gif","image_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10BhvFXneBD6X6\/giphy.gif","image_mp4_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10BhvFXneBD6X6\/giphy.mp4","image_frames":"37","image_width":"160","image_height":"260","fixed_height_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10BhvFXneBD6X6\/200_d.gif","fixed_height_downsampled_width":"123","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10BhvFXneBD6X6\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"325","fixed_height_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10BhvFXneBD6X6\/100.gif","fixed_height_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10BhvFXneBD6X6\/100_s.gif","fixed_height_small_width":"62","fixed_height_small_height":"100","fixed_width_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10BhvFXneBD6X6\/100w.gif","fixed_width_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10BhvFXneBD6X6\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"163","rating":"g","username":"","caption":"","tags":["xavi","xavi hernndez"]},"meta":{"status":200,"msg":"OK"}}
  recorded_at: Fri, 20 Feb 2015 20:30:48 GMT
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=key&tag=cat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":{"type":"gif","id":"4u8WdgQEMVaj6","url":"http:\/\/giphy.com\/gifs\/cat-kitten-please-4u8WdgQEMVaj6","image_original_url":"http:\/\/s3.amazonaws.com\/giphymedia[...]
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=key&tag=sloth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":{"type":"gif","id":"FsjDdnIRcroIM","url":"http:\/\/giphy.com\/gifs\/cheezburger-sloth-yawn-FsjDdnIRcroIM","image_original_url":"http:\/\/s3.amazonaws.com\/gip[...]
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=key&tag=bacon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":{"type":"gif","id":"La4sAOzY9H8L6","url":"http:\/\/giphy.com\/gifs\/bacon-La4sAOzY9H8L6","image_original_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/L[...]
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=key&tag=trippy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":{"type":"gif","id":"muAhZqHWt0bv2","url":"http:\/\/giphy.com\/gifs\/trippy-psychedelic-eye-muAhZqHWt0bv2","image_original_url":"http:\/\/s3.amazonaws.com\/gi[...]
- request:
    method: get
    uri: http://api.giphy.com//gifs/random?api_key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"meta":{"status":404,"msg":"Not Found!"}}
  recorded_at: Sun, 22 Feb 2015 01:34:00 GMT
- request:
    method: get
    uri: http://api.giphy.com//gifs/random?api_key=&tag=cat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"meta":{"status":404,"msg":"Not Found!"}}
  recorded_at: Sun, 22 Feb 2015 01:34:00 GMT
- request:
    method: get
    uri: http://api.giphy.com//gifs/random?api_key=&tag=sloth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"meta":{"status":404,"msg":"Not Found!"}}
  recorded_at: Sun, 22 Feb 2015 01:34:01 GMT
- request:
    method: get
    uri: http://api.giphy.com//gifs/random?api_key=&tag=bacon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"meta":{"status":404,"msg":"Not Found!"}}
  recorded_at: Sun, 22 Feb 2015 01:34:01 GMT
- request:
    method: get
    uri: http://api.giphy.com//gifs/random?api_key=&tag=trippy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"meta":{"status":404,"msg":"Not Found!"}}
  recorded_at: Sun, 22 Feb 2015 01:34:01 GMT
recorded_with: VCR 2.9.3
