---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com//gifs/random?api_key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"meta":{"status":404,"msg":"Not Found!"}}
  recorded_at: Sat, 21 Feb 2015 02:10:05 GMT
- request:
    method: get
    uri: http://iheartquotes.com/api/v1/random?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"19231bcf5bbdafee30ecabf324dad23e"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"json_class":"Fortune","tags":["platitudes","publilius_syrus"],"quote":"Prosperity
        makes friends, adversity tries them.\n\t\t-- Publilius Syrus","link":"http://iheartquotes.com/fortune/show/51230","source":"fortune"}'
  recorded_at: Sat, 21 Feb 2015 02:12:55 GMT
- request:
    method: get
    uri: http://iheartquotes.com/api/v1/random?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"65fb4535baef9c1655272f94a923fb71"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"json_class":"Fortune","tags":["codehappy"],"quote":"If you will practice
        being fictional for a while, you will understand that\r\nfictional characters
        are sometimes more real than people with bodies and\r\nheartbeats.","link":"http://iheartquotes.com/fortune/show/30552","source":"codehappy"}'
  recorded_at: Sat, 21 Feb 2015 02:39:02 GMT
recorded_with: VCR 2.9.3
