---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com//gifs/random?api_key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"meta":{"status":404,"msg":"Not Found!"}}
  recorded_at: Sat, 21 Feb 2015 02:10:05 GMT
- request:
    method: get
    uri: http://iheartquotes.com/api/v1/random?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"19231bcf5bbdafee30ecabf324dad23e"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"json_class":"Fortune","tags":["platitudes","publilius_syrus"],"quote":"Prosperity
        makes friends, adversity tries them.\n\t\t-- Publilius Syrus","link":"http://iheartquotes.com/fortune/show/51230","source":"fortune"}'
  recorded_at: Sat, 21 Feb 2015 02:12:55 GMT
[...]
- request:
    method: get
    uri: http://iheartquotes.com/api/v1/random?format=json&source=simpsons_homer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"499fdfbaa6284d08f3b1f84d5dc92547"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"json_class":"Fortune","tags":["simpsons_homer"],"quote":"Homer:\tI
        don''t want you to see me sitting on my worthless butt.\n\nBart:\tWe''ve seen
        it, Dad.\n\n\t\t   Homer at the Bat","link":"http://iheartquotes.com/fortune/show/5519","source":"simpsons_homer"}'
  recorded_at: Sat, 21 Feb 2015 03:00:33 GMT
- request:
    method: get
    uri: http://iheartquotes.com/api/v1/random?format=json&source=starwars
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"59651e5c2e7322c2f642af48dc409df9"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"json_class":"Fortune","tags":["starwars"],"quote":"Han Solo:\n\tAfraid
        I was gonna leave without giving you a\n\tgoodbye kiss?\nPrincess Leia:\n\tI''d
        just as soon kiss a Wookiee!\nHan Solo:\n\tI can arrange that! You could use
        a good kiss!","link":"http://iheartquotes.com/fortune/show/1293","source":"starwars"}'
  recorded_at: Sat, 21 Feb 2015 03:02:10 GMT
recorded_with: VCR 2.9.3
