---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.history?channel=C0000001&count=2&token=slack_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - read
      X-Oauth-Scopes:
      - identify,read,post,client,admin
    body:
      encoding: UTF-8
      string: '{"ok":true,"messages":[{"type":"message","user":"U02TK3RKG","text":"Took
        over 5000 steps to shovel","ts":"1424559066.000043"},{"type":"message","user":"U02TERHJX","text":"Heh","ts":"1424543398.000042"}],"has_more":true}'
  recorded_at: Sun, 22 Feb 2015 02:54:54 GMT
- request:
    method: get
    uri: https://slack.com/api/channels.history?channel=C0000001&count=2&token=slack_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - read
      X-Oauth-Scopes:
      - identify,read,post,client,admin
    body:
      encoding: UTF-8
      string: '{"ok":true,"messages":[{"username":"","text":"Here you go, dvg\n\n<http:\/\/i.imgflip.com\/gmvgk.jpg>","bot_id":"B02TFUM6S","attachments":[{"from_url":"http:\/\/i.imgflip.com\/gmvgk.jpg","fallback":"500x500px
        image","image_url":"http:\/\/i.imgflip.com\/gmvgk.jpg","image_width":500,"image_height":500,"image_bytes":17919,"id":1}],"type":"message","subtype":"bot_message","ts":"1421810229.000007"},{"type":"message","user":"U02TEDJGF","text":"Jarvis
        success kid thing, thing","ts":"1421810228.000006"}],"has_more":true}'
  recorded_at: Sun, 22 Feb 2015 02:56:08 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Jarvis+success+kid+thing%2C+thing
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twitter_consumer_key", oauth_nonce="blah",
        oauth_signature="nkSyDGscZcmm3E6j1tJon0PigdU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1424573768", oauth_token="twitter_access_token",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 22 Feb 2015 02:56:09 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - d66980f0c1e6d9f2d64a5803c862d92c
      X-Response-Time:
      - '126'
      X-Transaction:
      - 51f9a0fef4ef5cab
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Sun Feb 22 02:56:09 +0000 2015","id":569329768350380032,"id_str":"569329768350380032","text":"Jarvis
        success kid thing, thing","source":"\u003ca href=\"http:\/\/placeholderjarviscat.net\"
        rel=\"nofollow\"\u003eCatPenTwitter\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2859748697,"id_str":"2859748697","name":"The
        Cat Pen","screen_name":"twitter_handle","location":"","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":6,"friends_count":9,"listed_count":0,"created_at":"Tue
        Nov 04 01:23:34 +0000 2014","favourites_count":1,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":28,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/529445226608218112\/yodLdvk3_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/529445226608218112\/yodLdvk3_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Sun, 22 Feb 2015 02:56:09 GMT
recorded_with: VCR 2.9.3
