---
http_interactions:
- request:
    method: get
    uri: http://api.zippopotam.us/us/90201
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Charset:
      - UTF-8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"post code": "90201", "country": "United States", "country abbreviation":
        "US", "places": [{"place name": "Bell", "longitude": "-118.1689", "state":
        "California", "state abbreviation": "CA", "latitude": "33.9767"}]}'
  recorded_at: Sun, 22 Feb 2015 00:06:30 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?q=Beverly%20Hills,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"coord":{"lon":-118.4,"lat":34.07},"sys":{"message":0.0204,"country":"United States of America","sunrise":1424615395,"sunset":1424655844},"weather":[{"id":800,"main":"Clear","description":"Sky is Clear","icon":"01n"}],"base":"cmc stations","main":{"temp":289.548,"temp_min":289.548,"temp_max":289.548,"pressure":953.79,"sea_level":1023.75,"grnd_level":953.79,"humidity":59},"wind":{"speed":1.22,"deg":208},"clouds":{"all":0},"dt":1424564559,"id":5328041,"name":"Beverly Hills","cod":200}
  recorded_at: Sun, 22 Feb 2015 00:24:10 GMT
- request:
    method: get
    uri: http://api.zippopotam.us/us/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: |2

            <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
            <html>
                <head>
                    <title>Error: 404 Not Found</title>
                    <style type="text/css">
                      html {background-color: #eee; font-family: sans;}
                      body {background-color: #fff; border: 1px solid #ddd;
                            padding: 15px; margin: 15px;}
                      pre {background-color: #eee; border: 1px solid #ddd; padding: 5px;}
                    </style>
                </head>
                <body>
                    <h1>Error: 404 Not Found</h1>
                    <p>Sorry, the requested URL <tt>&#039;http://api.zippopotam.us/us/&#039;</tt>
                       caused an error:</p>
                    <pre>Not found: &#039;/us/&#039;</pre>
                </body>
            </html>
  recorded_at: Sun, 22 Feb 2015 01:34:01 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?q=Grove%20City,%20OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"coord":{"lon":-83.07,"lat":39.87},"sys":{"message":0.0192,"country":"United States of America","sunrise":1424607288,"sunset":1424646995},"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10n"}],"base":"cmc stations","main":{"temp":275.184,"temp_min":275.184,"temp_max":275.184,"pressure":993.5,"sea_level":1029.58,"grnd_level":993.5,"humidity":94},"wind":{"speed":2.16,"deg":359.501},"clouds":{"all":88},"rain":{"3h":2},"dt":1424568926,"id":4513409,"name":"Grove City","cod":200}
  recorded_at: Sun, 22 Feb 2015 01:35:26 GMT
recorded_with: VCR 2.9.3
