---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&order=rating&part=snippet&q=%20Harry%20Potter%20and%20the%20Half%20Blood%20Prince
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"OZTVc5giYjExcw9vrLsdrwdwB4c/Rqfqq96fQLysaoXmdQeaV_LGsrw"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"OZTVc5giYjExcw9vrLsdrwdwB4c/Rqfqq96fQLysaoXmdQeaV_LGsrw\"",
         "nextPageToken": "CAUQAA",
         "pageInfo": {
          "totalResults": 450952,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"OZTVc5giYjExcw9vrLsdrwdwB4c/yLeseWVzdF_tBjtQAT-2T52hjic\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "9q5BT8eiLDk"
           },
           "snippet": {
            "publishedAt": "2009-04-17T19:39:49.000Z",
            "channelId": "UCYdxw1ouVnZR_gZrNRbhhkw",
            "title": "Harry Potter and the Half-Blood Prince Trailer {# 5}",
            "description": "Yes yes yea!! Another one. There are more scenes! I jut love it can't stop watching it! Finally #5.",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/9q5BT8eiLDk/default.jpg"
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/9q5BT8eiLDk/mqdefault.jpg"
             },
             "high": {
              "url": "https://i.ytimg.com/vi/9q5BT8eiLDk/hqdefault.jpg"
             }
            },
            "channelTitle": "harrypotter6fan",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"OZTVc5giYjExcw9vrLsdrwdwB4c/qlPZXlzYdU-GFypQUZqGWQ-mkj4\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "46f94wBRo1o"
           },
           "snippet": {
            "publishedAt": "2014-02-24T09:51:17.000Z",
            "channelId": "UCw_D-n1MuDfiD6l0trSywGw",
            "title": "Harry's Last Daze (Harry Potter Series (Years 1-7) tribute)",
      [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=&order=rating&part=snippet&q=%20Harry%20Potter%20and%20the%20Half%20Blood%20Prince
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "keyInvalid",
            "message": "Bad Request"
           }
          ],
          "code": 400,
          "message": "Bad Request"
         }
        }
  recorded_at: Mon, 06 Apr 2015 15:52:04 GMT
recorded_with: VCR 2.9.3
