---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag=bacon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":{"type":"gif","id":"PJ3wMa5ImiVY4","url":"http:\/\/giphy.com\/gifs\/bacon-PJ3wMa5ImiVY4","image_original_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/PJ3wMa5ImiVY4\/giphy.gif","image_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/PJ3wMa5ImiVY4\/giphy.gif","image_mp4_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/PJ3wMa5ImiVY4\/giphy.mp4","image_frames":"92","image_width":"360","image_height":"480","fixed_height_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/PJ3wMa5ImiVY4\/200_d.gif","fixed_height_downsampled_width":"150","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/PJ3wMa5ImiVY4\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"267","fixed_height_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/PJ3wMa5ImiVY4\/100.gif","fixed_height_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/PJ3wMa5ImiVY4\/100_s.gif","fixed_height_small_width":"75","fixed_height_small_height":"100","fixed_width_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/PJ3wMa5ImiVY4\/100w.gif","fixed_width_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/PJ3wMa5ImiVY4\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"133","rating":"g","username":"","caption":"","tags":["bacon"]},"meta":{"status":200,"msg":"OK"}}
  recorded_at: Fri, 20 Feb 2015 20:44:27 GMT
recorded_with: VCR 2.9.3
