---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag=cat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":{"type":"gif","id":"xA88mlhRVZ3lm","url":"http:\/\/giphy.com\/gifs\/cat-oops-xA88mlhRVZ3lm","image_original_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/xA88mlhRVZ3lm\/giphy.gif","image_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/xA88mlhRVZ3lm\/giphy.gif","image_mp4_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/xA88mlhRVZ3lm\/giphy.mp4","image_frames":"74","image_width":"385","image_height":"355","fixed_height_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/xA88mlhRVZ3lm\/200_d.gif","fixed_height_downsampled_width":"217","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/xA88mlhRVZ3lm\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"184","fixed_height_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/xA88mlhRVZ3lm\/100.gif","fixed_height_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/xA88mlhRVZ3lm\/100_s.gif","fixed_height_small_width":"108","fixed_height_small_height":"100","fixed_width_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/xA88mlhRVZ3lm\/100w.gif","fixed_width_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/xA88mlhRVZ3lm\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"92","rating":"g","username":"","caption":"","tags":["cat","cat","buzzfeed","shit","oops"]},"meta":{"status":200,"msg":"OK"}}
  recorded_at: Fri, 20 Feb 2015 20:44:26 GMT
recorded_with: VCR 2.9.3
