---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=key&tag=cat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":{"type":"gif","id":"paYyHCsUUXQPK","url":"http:\/\/giphy.com\/gifs\/cat-robot-playing-paYyHCsUUXQPK","image_original_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/paYyHCsUUXQPK\/giphy.gif","image_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/paYyHCsUUXQPK\/giphy.gif","image_mp4_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/paYyHCsUUXQPK\/giphy.mp4","image_frames":"50","image_width":"500","image_height":"281","fixed_height_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/paYyHCsUUXQPK\/200_d.gif","fixed_height_downsampled_width":"356","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/paYyHCsUUXQPK\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"112","fixed_height_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/paYyHCsUUXQPK\/100.gif","fixed_height_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/paYyHCsUUXQPK\/100_s.gif","fixed_height_small_width":"178","fixed_height_small_height":"100","fixed_width_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/paYyHCsUUXQPK\/100w.gif","fixed_width_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/paYyHCsUUXQPK\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"56","rating":"g","username":"","caption":"video","tags":["cat","robot","playing","toy"]},"meta":{"status":200,"msg":"OK"}}
  recorded_at: Fri, 20 Feb 2015 20:44:26 GMT
recorded_with: VCR 2.9.3
