---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=key&tag=cat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":{"type":"gif","id":"ucEr1xRMsj6Fi","url":"http:\/\/giphy.com\/gifs\/cat-talking-ucEr1xRMsj6Fi","image_original_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/ucEr1xRMsj6Fi\/giphy.gif","image_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/ucEr1xRMsj6Fi\/giphy.gif","image_mp4_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/ucEr1xRMsj6Fi\/giphy.mp4","image_frames":"8","image_width":"500","image_height":"255","fixed_height_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/ucEr1xRMsj6Fi\/200_d.gif","fixed_height_downsampled_width":"392","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/ucEr1xRMsj6Fi\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"102","fixed_height_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/ucEr1xRMsj6Fi\/100.gif","fixed_height_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/ucEr1xRMsj6Fi\/100_s.gif","fixed_height_small_width":"196","fixed_height_small_height":"100","fixed_width_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/ucEr1xRMsj6Fi\/100w.gif","fixed_width_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/ucEr1xRMsj6Fi\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"51","rating":"g","username":"","caption":"","tags":["cat","animals","talking","meow"]},"meta":{"status":200,"msg":"OK"}}
  recorded_at: Fri, 20 Feb 2015 20:44:26 GMT
recorded_with: VCR 2.9.3
