---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":{"type":"gif","id":"10eqhIldgc59za","url":"http:\/\/giphy.com\/gifs\/horror-clown-fatboy-10eqhIldgc59za","image_original_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10eqhIldgc59za\/giphy.gif","image_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10eqhIldgc59za\/giphy.gif","image_mp4_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10eqhIldgc59za\/giphy.mp4","image_frames":"11","image_width":"482","image_height":"267","fixed_height_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10eqhIldgc59za\/200_d.gif","fixed_height_downsampled_width":"361","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10eqhIldgc59za\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"111","fixed_height_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10eqhIldgc59za\/100.gif","fixed_height_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10eqhIldgc59za\/100_s.gif","fixed_height_small_width":"181","fixed_height_small_height":"100","fixed_width_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10eqhIldgc59za\/100w.gif","fixed_width_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/10eqhIldgc59za\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"55","rating":"pg","username":"","caption":"","tags":["horror","clown","fatboy"]},"meta":{"status":200,"msg":"OK"}}
  recorded_at: Fri, 20 Feb 2015 20:42:10 GMT
recorded_with: VCR 2.9.3
