---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag=sloth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":{"type":"gif","id":"QoxeDUyerqIrC","url":"http:\/\/giphy.com\/gifs\/tired-morning-sloth-QoxeDUyerqIrC","image_original_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/QoxeDUyerqIrC\/giphy.gif","image_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/QoxeDUyerqIrC\/giphy.gif","image_mp4_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/QoxeDUyerqIrC\/giphy.mp4","image_frames":"25","image_width":"250","image_height":"125","fixed_height_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/QoxeDUyerqIrC\/200_d.gif","fixed_height_downsampled_width":"400","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/QoxeDUyerqIrC\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"100","fixed_height_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/QoxeDUyerqIrC\/100.gif","fixed_height_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/QoxeDUyerqIrC\/100_s.gif","fixed_height_small_width":"200","fixed_height_small_height":"100","fixed_width_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/QoxeDUyerqIrC\/100w.gif","fixed_width_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/QoxeDUyerqIrC\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"50","rating":"pg-13","username":"","caption":"","tags":["animals","tired","morning","sloth","monday"]},"meta":{"status":200,"msg":"OK"}}
  recorded_at: Fri, 20 Feb 2015 20:44:27 GMT
recorded_with: VCR 2.9.3
