---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=key&tag=sloth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":{"type":"gif","id":"upNoNLqei1FVS","url":"http:\/\/giphy.com\/gifs\/sloth-eating-upNoNLqei1FVS","image_original_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/upNoNLqei1FVS\/giphy.gif","image_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/upNoNLqei1FVS\/giphy.gif","image_mp4_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/upNoNLqei1FVS\/giphy.mp4","image_frames":"53","image_width":"245","image_height":"184","fixed_height_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/upNoNLqei1FVS\/200_d.gif","fixed_height_downsampled_width":"266","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/upNoNLqei1FVS\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"150","fixed_height_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/upNoNLqei1FVS\/100.gif","fixed_height_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/upNoNLqei1FVS\/100_s.gif","fixed_height_small_width":"133","fixed_height_small_height":"100","fixed_width_small_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/upNoNLqei1FVS\/100w.gif","fixed_width_small_still_url":"http:\/\/s3.amazonaws.com\/giphymedia\/media\/upNoNLqei1FVS\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"75","rating":"g","username":"","caption":"warholing beyonces me myself and i playing","tags":["animals","eating","sloth","lazy","relaxed"]},"meta":{"status":200,"msg":"OK"}}
  recorded_at: Fri, 20 Feb 2015 20:44:27 GMT
recorded_with: VCR 2.9.3
